## Data Manipulation
***

SFO Public Department, referred to as SFO, has captured the salary data of all its employees for the years 2011-2014. Now in 2018, the organization is facing some financial crisis. As a first step, HR wants to rationalize employee cost to save payroll budget.

You have to perform data manipulation and answer the questions below:
### 1. How much total salary cost has increased from year 2011 to 2014?
### 2. Who was the top-earning employee across all the years?

***

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('Salaries.csv')

C:\Users\adity\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (12) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.shape

(148648, 13)

In [4]:
df.head(2)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN

In [5]:
year_salary_sum=df.groupby('Year')['TotalPay'].sum()
year_salary_sum

Year
2011    2.594113e+09
2012    2.724736e+09
2013    2.918656e+09
2014    2.876911e+09
Name: TotalPay, dtype: float64

In [6]:
#or year_salary_sum.loc[2011]

year_salary_sum.iloc[0]   #2011

2594113030.720046

In [40]:
year_salary_sum.iloc[3]   #2014

2876910951.2599883

In [9]:
a=(year_salary_sum.iloc[3]-year_salary_sum.iloc[0])*100/year_salary_sum.iloc[0]

In [13]:
a

10.901526540709224

In [21]:
#or
round(a,2)

10.9

In [34]:
#or
print("Total {:.2f} % salary cost Increased from year 2011 to 2014 ".format(a))

Total 10.90 % salary cost Increased from year 2011 to 2014

Q1. How much total salary cost has increased from year 2011 to 2014?
#### Ans: Around 11%

***

In [67]:
df[df['TotalPay']==df['TotalPay'].max()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

In [69]:
#or
df.loc[df['TotalPay'].idxmax()]

Id                                                               1
EmployeeName                                        NATHANIEL FORD
JobTitle            GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
BasePay                                                     167411
OvertimePay                                                      0
OtherPay                                                    400184
Benefits                                                       NaN
TotalPay                                                    567595
TotalPayBenefits                                            567595
Year                                                          2011
Notes                                                          NaN
Agency                                               San Francisco
Status                                                         NaN
Name: 0, dtype: object

In [7]:
df.loc[df['TotalPay'].idxmax(),'EmployeeName']

'NATHANIEL FORD'

Q2. Who was the top-earning employee across all the years?
### Ans: EmployeeName: Nathaniel ford